{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "overrides": [
    {
      "files": ".svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
